<nav class="navbar">
  <div class="navbar-brand">
    <%= link_to "Home", pokemons_path, :class => "navbar-item is-size-3 has-text-light has-background-success" %>
  </div>
  <div class="navbar-menu">
    <div class="navbar-start">
      <%= link_to "Create a Pokemon!", new_pokemon_path, :class => "navbar-item is-size-3 has-text-success has-background-white" %>
    </div>
    <div class="navbar-end">
      <div class="navbar-item">
        <% if user_signed_in? %>
          <%= link_to "Log out", destroy_user_session_path, :method=>'delete', :class => "button is-danger" %>
          <%= link_to "Edit profile", edit_user_registration_path, :class => "button is-light"%>
        <% else %>
          <div class="buttons">
            <%= link_to "Sign up", sign_up_path, :class => "button is-success"%>
            <%= link_to "Log in", sign_in_path, :class => "button is-light" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</nav>
